<!DOCTYPE html>

<html>
	<head>
		<title>Nitte Sports League 2020</title>
		<link rel="icon" type="image/x-icon" href="/images/nmit.jpg">
		<link rel="stylesheet" type="text/css" href="/stylesheet/design.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
		<div class="navbar">
			<ul>
			<li><h1 style="color: red">NITTE</h1>></li>
			<li style="padding-left: 250px"><a href="/register">Register</li>
			<li><a href="/gallery">Gallery</a></li>
			<li><a href="/events" style="color: white">Events</a>
			</li>
			<li><a href="/about">Participants</a>
			</li>
			</ul>
		</div>
		<div id="iconsfit" >
			<ul >
				<li style="padding-left: 250px"><a class="btn"href="https://instagram.com/Sportskeeda/?hl=en"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
				<li><a class="btn"href="https://www.facebook.com/watch/anaadyantanmit/"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
				<li><a class="btn"href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
			</ul>
		</div>

		<div class="card" style="text-align: center">
  			<img src="/images/nmit.jpg" alt="Avatar" style="height: 30%">
  			<div class="container">
    			<h4 style="color: red"><b>CRICKET</b></h4>
    			<p style="color: red">Contact: +91 97384769280</p>
  			</div>
		</div>

		<div class="card" style="text-align: center">
  			<img src="/images/8.jpg" alt="Avatar" style="height: 30%">
  			<div class="container">
    			<h4 style="color: red"><b>SOCCER</b></h4>
    			<p style="color: red">Contact: +91 8553421783</p>
  			</div>
		</div>

		<div class="card" style="text-align: center">
  			<img src="/images/3.jpg" alt="Avatar" style="height: 30%">
  			<div class="container">
    			<h4 style="color: red" style="font-family: system-ui"><b>BADMITION</b></h4>
    			<p style="color: red">Contact: +91 9245718052</p>
  			</div>
		</div>


	</body>
</html>